In [1]:
#Import Statements
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

C:\Users\patel\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\patel\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\patel\AppData\Roaming\Python\Python39\site-packages\matplotlib\projections\__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [2]:
#Read in CSV
df = pd.read_csv("NY-House-Dataset.csv")

In [3]:
#Observe Data
df.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856

In [4]:
print(df.shape)

(4801, 17)

In [5]:
df['TYPE'].value_counts()

TYPE
Co-op for sale                1450
House for sale                1012
Condo for sale                 891
Multi-family home for sale     727
Townhouse for sale             299
Pending                        243
Contingent                      88
Land for sale                   49
For sale                        20
Foreclosure                     14
Condop for sale                  5
Coming Soon                      2
Mobile house for sale            1
Name: count, dtype: int64

In [6]:
df['SUBLOCALITY'].value_counts()

SUBLOCALITY
New York            1016
Kings County         727
Queens County        684
Queens               555
Richmond County      480
Brooklyn             464
Bronx County         307
New York County      286
The Bronx            184
Staten Island         59
Manhattan             21
Riverdale              4
Flushing               4
Coney Island           3
East Bronx             1
Brooklyn Heights       1
Jackson Heights        1
Rego Park              1
Fort Hamilton          1
Dumbo                  1
Snyder Avenue          1
Name: count, dtype: int64

In [7]:
#Remove Unwanted Columns
df2 = df.drop(columns = ['BROKERTITLE', 'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LONG_NAME', 'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS'])

In [8]:
df2.head()

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,LATITUDE,LONGITUDE
0,Condo for sale,315000,2,2.000000,1400.0,40.761255,-73.974483
1,Condo for sale,195000000,7,10.000000,17545.0,40.766393,-73.980991
2,House for sale,260000,4,2.000000,2015.0,40.541805,-74.196109
3,Condo for sale,69000,3,1.000000,445.0,40.761398,-73.974613
4,Townhouse for sale,55000000,7,2.373861,14175.0,40.767224,-73.969856

In [9]:
#Encoding Categorical Data for ML Model
df2 = df2[~df['TYPE'].isin(['Coming Soon', 'Mobile house for sale', 'Foreclosure', 'For sale', 'Pending', 'Contingent'])]
df2.head()

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,LATITUDE,LONGITUDE
0,Condo for sale,315000,2,2.000000,1400.0,40.761255,-73.974483
1,Condo for sale,195000000,7,10.000000,17545.0,40.766393,-73.980991
2,House for sale,260000,4,2.000000,2015.0,40.541805,-74.196109
3,Condo for sale,69000,3,1.000000,445.0,40.761398,-73.974613
4,Townhouse for sale,55000000,7,2.373861,14175.0,40.767224,-73.969856

In [10]:
df2['TYPE'].value_counts()

TYPE
Co-op for sale                1450
House for sale                1012
Condo for sale                 891
Multi-family home for sale     727
Townhouse for sale             299
Land for sale                   49
Condop for sale                  5
Name: count, dtype: int64

In [11]:
df2['TYPE'] = df['TYPE'].replace('Condop for sale', 'Condo for sale')

# Create dummy variables
df2 = pd.get_dummies(df2, columns=['TYPE'])

# Show the resulting DataFrame
print(df2)

          PRICE  BEDS       BATH  PROPERTYSQFT   LATITUDE  LONGITUDE  \
0        315000     2   2.000000   1400.000000  40.761255 -73.974483
1     195000000     7  10.000000  17545.000000  40.766393 -73.980991
2        260000     4   2.000000   2015.000000  40.541805 -74.196109
3         69000     3   1.000000    445.000000  40.761398 -73.974613
4      55000000     7   2.373861  14175.000000  40.767224 -73.969856
...         ...   ...        ...           ...        ...        ...
4796     599000     1   1.000000   2184.207862  40.774350 -73.955879
4797     245000     1   1.000000   2184.207862  40.732538 -73.860152
4798    1275000     1   1.000000   2184.207862  40.745882 -74.003398
4799     598125     2   1.000000    655.000000  40.742770 -73.872752
4800     349000     1   1.000000    750.000000  40.579147 -73.970949

      TYPE_Co-op for sale  TYPE_Condo for sale  TYPE_House for sale  \
0                   False                 True                False
1                   False                 True                False
2                   False                False                 True
3                   False                 True                False
4                   False                False                False
...                   ...                  ...                  ...
4796                 True                False                False
4797                 True                False                False
4798                 True                False                False
4799                False                 True                False
4800                 True                False                False

      TYPE_Land for sale  TYPE_Multi-family home for sale  \
0                  False                            False
1                  False                            False
2                  False                            False
3                  False                            False
4                  False                            False
...                  ...                              ...
4796               False                            False
4797               False                            False
4798               False                            False
4799               False                            False
4800               False                            False

      TYPE_Townhouse for sale
0                       False
1                       False
2                       False
3                       False
4                        True
...                       ...
4796                    False
4797                    False
4798                    False
4799                    False
4800                    False

[4433 rows x 12 columns]

In [12]:
count_high_prices = (df2['PRICE'] > 10000000).sum()
print(count_high_prices)
df2 = df2[df2['PRICE'] <= 10000000]

153

In [13]:
#Check for missing values
missing_values_count = df2.isna().sum()

# This will print the count of missing values for each column
print(missing_values_count)

PRICE                              0
BEDS                               0
BATH                               0
PROPERTYSQFT                       0
LATITUDE                           0
LONGITUDE                          0
TYPE_Co-op for sale                0
TYPE_Condo for sale                0
TYPE_House for sale                0
TYPE_Land for sale                 0
TYPE_Multi-family home for sale    0
TYPE_Townhouse for sale            0
dtype: int64

In [14]:
#Split the Data into Feature and Target Data
X = df2.loc[:,"BEDS":]
y = df2.loc[:,"PRICE"]
print(X)

      BEDS  BATH  PROPERTYSQFT   LATITUDE  LONGITUDE  TYPE_Co-op for sale  \
0        2   2.0   1400.000000  40.761255 -73.974483                False
2        4   2.0   2015.000000  40.541805 -74.196109                False
3        3   1.0    445.000000  40.761398 -73.974613                False
5        5   2.0   4004.000000  40.674363 -73.958725                False
6        2   2.0   2184.207862  40.809448 -73.946777                False
...    ...   ...           ...        ...        ...                  ...
4796     1   1.0   2184.207862  40.774350 -73.955879                 True
4797     1   1.0   2184.207862  40.732538 -73.860152                 True
4798     1   1.0   2184.207862  40.745882 -74.003398                 True
4799     2   1.0    655.000000  40.742770 -73.872752                False
4800     1   1.0    750.000000  40.579147 -73.970949                 True

      TYPE_Condo for sale  TYPE_House for sale  TYPE_Land for sale  \
0                    True                False               False
2                   False                 True               False
3                    True                False               False
5                   False                 True               False
6                    True                False               False
...                   ...                  ...                 ...
4796                False                False               False
4797                False                False               False
4798                False                False               False
4799                 True                False               False
4800                False                False               False

      TYPE_Multi-family home for sale  TYPE_Townhouse for sale
0                               False                    False
2                               False                    False
3                               False                    False
5                               False                    False
6                               False                    False
...                               ...                      ...
4796                            False                    False
4797                            False                    False
4798                            False                    False
4799                            False                    False
4800                            False                    False

[4280 rows x 11 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [16]:
#Now we can standardize the training data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = X_train
X_test_scaled = X_test

# Scale target
scaler_y = StandardScaler()
# Convert y_train to a numpy array and reshape it
y_train_scaled = scaler_y.fit_transform(y_train.to_numpy().reshape(-1, 1)).flatten()

In [17]:
from sklearn.linear_model import LinearRegression
#Train the model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

score = model.score(X_test_scaled, y_test)
print(score)

0.27382733944884097

In [18]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.27382734, 0.37032905, 0.39264998, 0.38170383, 0.32198237])

In [19]:
#XGB Boost Model
import xgboost as xgb
from sklearn.metrics import r2_score

# Train the model
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Calculate the r2 score
score = r2_score(y_test, y_pred)
print("R^2 Score:", score)

R^2 Score: 0.27382733944884097

In [20]:
#Grid Search
from sklearn.model_selection import GridSearchCV
import xgboost as xgb

# Define the parameter grid
param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.01, 0.1, 0.2],
    'n_estimators': [50, 100, 200],
    'subsample': [0.7, 0.8, 0.9],
    'colsample_bytree': [0.7, 0.8, 0.9],
}

# Initialize the XGBRegressor
xgb_model = xgb.XGBRegressor(objective='reg:squarederror')

# Initialize the GridSearchCV object
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, scoring='r2', verbose=1)

# Fit GridSearchCV
grid_search.fit(X_train, y_train)

# Best parameters and best score
print("Best parameters found: ", grid_search.best_params_)
print("Best R2 found: ", grid_search.best_score_)

Fitting 3 folds for each of 243 candidates, totalling 729 fits
Best parameters found:  {'colsample_bytree': 0.8, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200, 'subsample': 0.8}
Best R2 found:  0.7551222182377053

In [21]:
#More directed grid search
param_grid = {
    'max_depth': [8, 9, 10],  # Closer around the best found depth
    'learning_rate': [0.05, 0.1, 0.15],  # Explore around the best learning rate
    'n_estimators': [130, 150, 170],  # Test a range close to the best number of estimators
    'subsample': [0.8, 0.85, 0.9],  # Small adjustments around the best subsample
    'colsample_bytree': [0.65, 0.7, 0.75],  # Fine-tune the column sample by tree
}

grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, scoring='r2', verbose=1)

#Fit GridSearchCV
grid_search.fit(X_train, y_train)

# Print the best parameters and the corresponding R^2 score
print("Best parameters found: ", grid_search.best_params_)
print("Best R2 found: ", grid_search.best_score_)

Fitting 3 folds for each of 243 candidates, totalling 729 fits
Best parameters found:  {'colsample_bytree': 0.75, 'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 170, 'subsample': 0.9}
Best R2 found:  0.7576330169065577

In [22]:
import pickle
# Open a file to save the data
with open('grid_search_results.pickle', 'wb') as file:
    # Use pickle to dump the results dictionary to the file
    pickle.dump(grid_search.best_estimator_, file)

In [23]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json", "w") as f:
    f.write(json.dumps(columns))